
html {
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
}

.topnav {
	background-color: white;
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	z-index: 1;
}
	.topnav a {
		color: #000000;
		text-align: center;
		text-decoration: none;
		font-weight: 950;
		font-family: 'peridot-pe-variable';
		float: right;
		font-size: 20px;
		padding: 25px 25px;
	}

	.topnav-logo a {
		padding: 23px 23px 0px 0px;
	}

	.topnav-title a {
		float: left;
		font-size: 30px;
		padding: 23px 30px;
		font-weight: 950;
		font-family: 'peridot-pe-variable';
	}

	.topnav-nav a {
		font-size: 20px;
		padding: 25px 25px;
		font-family: 'peridot-pe-variable';
	}

	.image-container {
		position: relative;
		display: inline-block;
	}
	
	.image-container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.image-overlay {
		background-color: #424242;
		display: inline-block;
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 15px;
		opacity: .5;
	}

	.image-overlay:hover {
		opacity: .1;
	}

	.overlay-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		font-size: 35px;
		text-align: center;
		font-weight: 950;
		font-family: 'peridot-pe-variable';
		opacity: 1!important;
	}
	
	.sgrid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		padding: 120px 30px 0;
	}

	.sgrid > * {
		aspect-ratio: 1/1;
	}
	.sgrid > .image-container {
		padding: 10px;
	}

	.sgrid > img, .sgrid > video {
		width: 100%;
		object-fit: cover;
	}

	.sgrid > .long {
		padding: 20px;
		overflow: auto;
	}

	.sgrid > .rectangle {
		grid-column: span 2;
		aspect-ratio: 2/1;
	}
	
.container-about {
	width: 100%;
	padding: 120px 30px 10px;
}

.container-about img {
	float: left;
	display: inline-block;
	width: 40%;
	margin-right: 5%;
}

.container-about .body-me {
	float: left;
	display: inline-block;
	font-size: 18px;
	font-family: 'deuterium-variable';
	text-align: justify;
	width: 55%;
}

.container-about .body-me p:first-child {
	margin-top: 0;
}
.container-about .heading-me {
	font-size: 36px;
	font-variation-settings: "ital" 0, "wdth" 100, "wght" 950;
	font-family: 'peridot-pe-variable';
	line-height: 1;
	margin-top: 0;
}

.container-about .contact-me {
	padding-top: 20px;
}

.container {
	width: 100%;
	padding: 120px 30px 0;
}

.container img {
	max-width: 65%;
	margin: 0 17% 15px;
}

.container img.full-width {
	max-width: 90%;
	margin: 0 5% 15px;
}

.container .thumbnail-container {
	overflow: auto;
	
}
.container img.thumbnail {
	float: left;
	display: inline-block;
	width: 40%;
	margin: 0 5% 15px;
}

.container .heading {
	font-size: 42px;
	font-variation-settings: "ital" 0, "wdth" 100, "wght" 950;
	font-family: 'peridot-pe-variable';
	padding-bottom: 5px;
	text-align: center;
}

.container h2 {
	clear: both;
	margin-top: 40px;
	text-align: center;
}

.container .body {
	font-size: 18px;
	font-family: 'deuterium-variable';
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	width: 60%;
	text-align: justify;
	margin: 0 auto;
}


.container .box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container .box .dream {
	display: flex;
	flex-direction: column;
	width: 32.5%;
}

.container .box .dream img {
	width: 100%;
	padding-bottom: 15px;
}


@media only screen and (max-width: 768px){
	.sgrid {
		display: block;
		max-width: 100%;
	}
	.sgrid > .rectangle {
		aspect-ratio: 1/1;
	}
	.container .box{
		flex-direction: row;
	}
	.container .box .dream{
		width: 100%;
	}
	.container .body {
		width: 100%;
	}
}

@media only screen and (max-width: 580px){
	.container-about, .container {
		padding-top: 200px;
	}
	.topnav-title a {
		float: none;
		clear: both;
		display: block;
	}
	.container img {
		max-width: 90%;
		margin: 0 5% 15px;
	}
	.container img.thumbnail {
		float: none;
		display: block;
		width: 90%;
		margin: 0 5% 15px;
	}
}

@media only screen and (max-width: 480px){
	.container-about img, .container-about .body-me {
		float: none;
		display: block;
		width: 100%;
	}
	.container-about img {
		margin-bottom: 30px;
	}
	.topnav-title {
		text-align: center;
		display: block;
	}
	.topnav-title a {
	}
}

.logo {
	clear: both;
	width: 100%;
}
.logo img {
	width: 175px;
	height: 175px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
